.heroSection {
  background-image: url('../images/RANCHO_BRF_466_Principal.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 85px);
  position: relative;
}

.container__heroTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroSection__title {
  border: 4px solid var(--primario);
  border-radius: 50px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-100);
  width: fit-content;
  padding: 0 24px;
}

.heroSection__title h1 {
  font-size: clamp(24px, 4vw, 40px);
  text-align: center;
  text-transform: lowercase;
  text-wrap: nowrap;
}

.floatingList {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
}

.floatingList li {
  background-color: var(--primario);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  z-index: 2;
}

.floatingList li::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: -19px;
  z-index: 1;
  width: 0;
  height: 0;

  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 25px solid var(--primario);
}

.heroSection__footer {
  height: 258px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-image: url(../images/bloqueHeroSection.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapped__HeroSection {
  height: 100%;
  width: min(1600px, 100% - 4rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.hero__firstBlock {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.hero__firstBlock blockquote {
  border-left: 8px solid var(--grey-100);
  max-width: 275px;
  line-height: 1.5;
  font-size: clamp(16px, 3vw, 20px);
  padding: 6px 0 6px 10px;

  color: var(--grey-100);
  text-align: center;
}

.hero__secondBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  align-self: end;
}

.hero__secondBlock h2 {
  color: var(--grey-100);
  font-size: clamp(26px, 4vw, 40px);
  line-height: 1.5;
  font-family: 'Sedan SC', sans-serif;
  text-wrap: nowrap;
}

.hero__secondBlock p {
  color: var(--grey-100);
  font-size: clamp(16px, 3vw, 26px);
  line-height: 1.5;
  font-family: 'Sedan SC', sans-serif;
  text-wrap: nowrap;
}

.hero__thirdBlock {
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero__thirdBlock ul {
  display: grid;
  gap: 10px;
}

.hero__thirdBlock ul li {
  display: flex;
  gap: 8px;
  color: var(--grey-100);
  align-items: center;
  border: 2px solid var(--grey-100);
  border-radius: 45px;
  padding: 6px 12px;
}

.wrapped {
  width: min(1024px, 100% - 4rem);
  margin-inline: auto;
  position: relative;
}

.aboutUsSection {
  display: grid;
  gap: 30px;
  padding-top: 144px;
  text-wrap: pretty;
  line-height: 1.5;
}

.grid-gap {
  display: grid;
  gap: 30px;
}

.postion-relative {
  position: relative;
}

.sectionTitle {
  position: absolute;
  top: 32px;
  left: 0;
  color: var(--grey-100);
  border-radius: 0 40px 40px 0;
  background-color: var(--primario);
  height: 100px;
  width: 344px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-left: 8px solid var(--grey-100);
}

.quote h2 {
  font-size: 3rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article h3 {
  font-size: 40px;
  text-align: center;
  color: var(--text);
  font-family: 'Sedan SC', sans-serif;
}

article p {
  font-size: 24px;
  color: var(--text);
}

.row-span-2 {
  grid-row: span 2;
}

.location__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  gap: 40px;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 50%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#gmap_canvas {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 30px;
}

.line {
  width: 100%;
  border-top: 8px solid var(--text);
}

h4 {
  color: var(--primario);
  font-size: 24px;
}

.team__grid {
  padding-block: 170px 60px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
}

.locationDescription p {
  font-size: 24px;
}

.locationDescription {
  display: grid;
  gap: 8px;
}

.team__card {
  height: 256px;
  min-width: 195px;
  border-radius: 4px 40px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.12),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0911111),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0728889),
    0px 20px 13px rgba(0, 0, 0, 0.06),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0471111),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0288889);
}

.team__card img {
  height: 100%;
  object-fit: cover;
}
